<!doctype html>
<html ng-app="wizardApp">
	<head>
		<meta charset="UTF-8">
		<base href="/">
		<title>ORCID API Walkthrough</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/fonts.min.css">
		<link rel="stylesheet" href="css/style.min.css">
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
              display: none !important;
            }
        </style>
	</head>
	<body>
		<div id="wizard">
            <div class="steps-pane-container" ng-controller="stepsController">
                <div class="logo">
                    <img src="img/orcid-logo.png" alt="">
                </div>
                <ul>
                    <li class="step" ng-repeat="step in steps" ng-class="{'current-step': $index == wizardSrvc.current}" ng-model="steps" ng-cloak>
                         {{step.title}}
                    </li>
                </ul>
            </div>

            
            <div class="contents-pane-container">
                <div class="contents-pane" ng-controller="stepsController">
                    
                    <!-- Introduction -->
                    <div title="Introduction" ng-show="wizardSrvc.current == 0" ng-cloak>
                        <h2>ORCID API - Introduction</h2>
                        <p>ORCID offers several APIs (Application Programming Interfaces) that allow your systems to intreact with the ORCID registry:</p>
                        <ul>
                            <li><b>Public API:</b> Freely available to anyone</li>
                            <li><b>Member API:</b> Available to organizations that support ORCID with an annual membership subscription</li>
                        </ul>
                        <p>Using the APIs, your system can:</p>
                        <table class="api-chart">
                            <tbody>
                                <tr><td><img src="img/ID_symbol.svg"></td><td><h3>Get iDs</h3></td><td>Prompt users to provide their ORCID iD using our authentication system</td><td><b>Public / Member</b></td></tr>
                                <tr><td><img src="img/glyphicons-28-search-A6CE39.svg"></td><td><h3>Search</h3></td><td>Run automated searches of the ORCID registry</td><td><b>Public / Member</b></td></tr>
                                <tr><td><img src="img/glyphicons-52-eye-open-A6CE39.svg"></td><td><h3>Read</h3></td><td>Retrieve data from ORCID records (and copy it into your system)</td><td><b>Public / Member</b></td></tr>
                                <tr><td><img src="img/glyphicons-31-pencil-A6CE39.svg"></td><td><h3>WRITE</h3></td><td>Add/update new works, funding items, affiliations & biographical information</td><td><b>Member</b></td></tr>
                                 <tr><td><img src="img/glyphicons-433-plus-A6CE39.svg"></td><td><h3>Create</h3></td><td>Create new ORCID records for your researchers using an "on-demand" process</td><td><b>Member</b></td></tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- Accessing the API -->
                    <div title="Accessing the API" ng-show="wizardSrvc.current == 1" ng-cloak>
                        <div>
                            <h2>ORCID API</h2>
                            <p>The ORCID API will help your organization to link your user profiles with their ORCID record; this link will give you the ability to do things like authenticating the user ORCID, reading information from the ORCID record, updating the users record and being up to date with the latest updates the user does to the ORCID record</p>
                            <h3>If you are a:</h3>
                            <div class="types">     
                                <ul>
                                    <li>Editor</li>
                                    <li>Funding agency</li>
                                    <li>University</li>
                                    <li>Other organization</li>
                                </ul>
                            </div>
                            <div id="descriptions">
                                <div id="" class="university description">
                                    <h2>Universities</h2>
                                    <ul>
                                        <li>ORCID will help you create new ORCID id's for your teachers or students</li>
                                        <li>When someone ends a thesis, the ORCID id can be added to the publication and the publication can be added to the ORCID record</li>
                                        <li>When another system or repository updates the ORCID record, the API will help you to acknowledge that change and synchronize your system with the latest changes</li>
                                    </ul>               
                                </div>
                                
                                <div id="" class="editor description">
                                    <h2>Editors</h2>
                                    <ul>
                                        <li>Sent: The API will help you to obtain the ORCiD and the biographical information from authors</li>
                                        <li>Revision: The API will help you to obtain the ORCiD, the biographical information and the activities list of the reviewers</li>
                                        <li>Production: Include the ORCiD in the publication metadata and in the publication</li>
                                        <li>Publication: Update the ORCID record of the author and the reviewer</li>
                                    </ul>
                                </div>
                                
                                <div id="" class="funding description">
                                    <h2>Funding agencies</h2>
                                    <ul>
                                        <li>Applications: The API will help you to obtain the ORCiD and the biographical information from applicants</li>
                                        <li>Revision: The API will help you to obtain the ORCiD, the biographical information and the activities list of the reviewers</li>
                                        <li>Awards and recognitions: Update the ORCID record of the awarded and the reviewer</li>
                                    </ul>
                                </div>
                                
                                <div id="" class="other description">
                                    <h2>Others</h2>
                                    <ul>
                                        <li>The API will facilitate the creation of new iD's</li>
                                        <li>The API will help you to store and show the iD of the researcher in your system</li>
                                        <li>The API will help you to synchronize the biographical information between different systems</li>
                                        <li>The API will help you to synchronize the researcher activities between different systems</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
             
                    <!-- Technologies -->
                    <div title="Technologies" ng-show="wizardSrvc.current == 2" ng-cloak>
                        <h2>ORCID API - Technologies</h2>
                        <p>Technologies</p>     
                        <ul>
                            <li><a href="http://www.restapitutorial.com/lessons/whatisrest.html" target="_blank">REST</a> interact w/API via HTTP calls</li>
                            <li><a href="http://members.orcid.org/api/tokens-through-3-legged-oauth-authorization" target="_blank">OAuth “3-legged”</a> authorization process</li>
                            <li><a href="http://www.w3.org/XML/" target="_blank">XML</a>/<a href="http://www.json.org/" target="_blank">JSON</a> data exchange</li>
                        </ul>
                    </div>

                    <!-- Get access token -->
                    <div title="Get access token" ng-show="wizardSrvc.current == 3" ng-cloak>
                        <div ng-controller="authorizationCodeController">
                            <h2>ORCID API - Getting the authorization code</h2>
                            <p>Here, we ask the user for permissions over his ORCID record</p>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="client_id">Client ID:</label>
                                    <input type="text" name="client_id" class="form-control" ng-model="form.client_id"/>
                                </div>
                            </div>                            
                            <button id="submit" ng-click="getAuthorizationCode()" class="btn btn-default">Get code</button>                             
                        </div>
                    </div>
	
					<!-- These two should share the controller... is this the way?-->
					<div ng-controller="tokenController">
						<!-- Get token -->					
						<div title="Get token" ng-show="wizardSrvc.current == 4" ng-cloak>                        
							<h2>ORCID API - Technologies</h2>
							<p>Technologies</p>
							<div id="token" ng-show="access_code != null" ng-cloak>
								<p>This is your access code {{access_code}}</p>
								<div class="form-inline">
									<div class="form-group">
										<label for="client_id">Client secret:</label>
										<input type="text" name="client_secret" ng-model="client_secret" class="form-control" />
									</div>
								</div>
								<button id="submit" class="btn btn-default" ng-click="exchangeCode()">Exchange</button> 
							</div>
						</div>

						<!-- Show access token info-->
						<div title="Access token info" ng-show="wizardSrvc.current == 5" ng-cloak>
							<div class="token_items">	
                            <pre>			
								<a href="#token" ng-mouseenter="show('token')">
									<span class="key">access_token: </span><span class="value">{{token.access_token}}</span>
								</a>	

								<a href="#expiration" ng-mouseenter="show('expiration')">
									<span class="key">expires_in: </span><span class="value">{{token.expires_in}}</span>
								</a>						
								<a href="#name" ng-mouseenter="show('name')">
									<span class="key">name: </span><span class="value">{{token.name}}</span>
								</a>
								<a href="#orcid" ng-mouseenter="show('orcid')">
									<span class="key">orcid: </span><span class="value">{{token.orcid}}</span>
								</a>
								<a href="#scope" ng-mouseenter="show('scope')">
									<span class="key">scope: </span><span class="value">{{token.scope}}</span>
								</a>
								<a href="#type" ng-mouseenter="show('type')">
									<span class="key">token_type: </span><span class="value">{{token.token_type}}</span>
								</a>
                            </pre>
							</div>
							<div class="token_items_descriptions">
								<p id="access_token" class="description" ng-class="(show_access_token == true) ? 'visible' : 'hidden'">access_token description</p>
								<p id="expires_in" class="description" ng-class="(show_expires_in == true) ? 'visible' : 'hidden'">expires_in description</p>
								<p id="name" class="description" ng-class="(show_name == true) ? 'visible' : 'hidden'">name description</p>
								<p id="orcid" class="description" ng-class="(show_orcid == true) ? 'visible' : 'hidden'">orcid description</p>
								<p id="scope" class="description" ng-class="(show_scope == true) ? 'visible' : 'hidden'">scope description</p>
								<p id="token_type" class="description" ng-class="(show_token_type == true) ? 'visible' : 'hidden'">token_type description</p>							
							</div>							
						</div>
						
						<!-- Read record -->
						<div title="Read record" ng-show="wizardSrvc.current == 6" ng-cloak>
							<h2>ORCID API - Read ORCID record</h2>
							<p>Read record</p>
							<div>
								<button id="submit" class="btn btn-default" ng-click="readRecord()">Read profile</button>
							</div>
						</div>
					</div>
					
                    

                    <!-- Update record -->
                    <div title="Update record" ng-show="wizardSrvc.current == 7" ng-cloak>
                        <h2>ORCID API - Technologies</h2>
                        <p>Technologies</p>     
                        <ul>
                            <li><a href="http://www.restapitutorial.com/lessons/whatisrest.html" target="_blank">REST</a> interact w/API via HTTP calls</li>
                            <li><a href="http://members.orcid.org/api/tokens-through-3-legged-oauth-authorization" target="_blank">OAuth “3-legged”</a> authorization process</li>
                            <li><a href="http://www.w3.org/XML/" target="_blank">XML</a>/<a href="http://www.json.org/" target="_blank">JSON</a> data exchange</li>
                        </ul>
                    </div>
                </div>

                <div class="wizard-btn-container" ng-controller="controlsController">
                    <button class="wizard-nav-btn wizard-previous-button" ng-class="{'disabled-button': wizardSrvc.current == 0}" ng-click="back()">Back</button>
                    <button class="wizard-nav-btn wizard-next-button" ng-click="next()" ng-show="wizardSrvc.current != 7" ng-cloak>Next</button>
                    <button class="wizard-nav-btn wizard-finish-button wizard-hidden-button" ng-show="wizardSrvc.current == 7" ng-click="finish()" ng-cloak>Finish</button>
                </div>

            </div>
        </div>	
        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-resource.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-cookies.js"></script>
        <script src="js/app.min.js" type="text/javascript" ></script>
	</body>
</html>