<!doctype html>
<html>
<head>
	<title>ORCID Walkthrough - Introduction</title>
	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
	<link rel="stylesheet" href="gulp_derived/css/style.css"> 
</head>
<body>
	<div id="wizard">
		<div class="steps-pane-container">
			<div class="logo">
				<img src="img/orcid-logo.png" alt="">
			</div>
			<ul>
				<li class="step">Introduction</li>
				<li class="step current-step">Accessing the API</li>
				<li class="step">Using the API</li>
				<li class="step">Get authorization code</li>
				<li class="step">Get token</li>
				<li class="step">Show token</li>
				<li class="step">Read record</li>
				<li class="step">Update record</li>				
			</ul>
		</div>
		<div class="contents-pane-container">
			<div class="contents-pane">
				<!-- Accessing the API -->
				<div title="Accessing the API">
					<h2>Accessing the APIs</h2>
					<p>Accessing any of the ORCID APIs requires a set of credentials consisting of:</p>
					<ul>
						<li><b>Client ID</b> <em>(ex: API APP-1X454QYQ66U6XW7X)</em></li>
						<li><b>Client Secret</b> <em>(ex: 8fa38bea-48e2-4238-9479-e55448ffa225)</em></li>
					</ul>
					<p>These credentials are simliar to a username and password.</p>

					<h3>Public API Credentials</h3>
					<p>Public API credentials are freely available to any ORCID users and are accessed through the Developer Tools section of your ORCID record.<br><a href="http://members.orcid.org/api/accessing-public-api" target="_blank">Learn more about Public API credentials</a></p>

					<h3>Member API Credentials</h3>
					<p>Member API credentials for the live ORCID registry are available only to ORCID member organizations that have successfully built and tested an application in our test environment, the Sandbox. <a href="http://members.orcid.org/api/introduction-orcid-member-api#SandboxCreds" target="_blank">Learn more about the Sandbox</a></p>
				   <p>For this tutorial, we'll be using the Sandbox environment. To complete the remainder of the tutorial, you'll need to get a set of Sandbox API credentials.</p>
					<br>
					<a href="https://orcid.org/content/register-client-application-sandbox" class="btn btn-default" target="_blank">Get Sandbox API Credentials</a>
				</div>
			</div>
		</div>
		<div class="wizard-btn-container">
			<a class="wizard-nav-btn wizard-previous-button" href="/introduction">Back</a>
            <a class="wizard-nav-btn wizard-next-button" href="/using-api">Next</a>
		</div>
	</div>
</body>
</html>