<!doctype html>
<html>
<head>
	<title>ORCID Walkthrough - Record for <%= orcid %></title>
	<link rel="stylesheet" href="gulp_derived/css/style.css">
</head>
<body>
	<p>Record:</p>
	<div>
		<pre>
<%=record%>
		</pre>
	</div>
	<div>
		<p><a href="/add-work">Want to add a work?</a></p>
	</div>
</head>
</html>