<!doctype html>
<html>
<head>
	<title>ORCID Walkthrough - Token info</title>
	<% include ../partials/head %>
</head>
<body>
	<div id="wizard">
		<div class="steps-pane-container">
			<div class="logo">
				<img src="img/orcid-logo.png" alt="">
			</div>
			<ul>
				<li class="step">Introduction</li>
				<li class="step">Accessing the API</li>
				<li class="step">Using the API</li>
				<li class="step">Get authorization code</li>
				<li class="step">Get token</li>
				<li class="step">Show token</li>
				<li class="step current-step">Read record</li>
				<li class="step">Add a work</li>
				<li class="step">Edit a work</li>				
			</ul>
		</div>
		<div class="contents-pane-container">
			<% include ../partials/menu-toggle %>
			<div class="contents-pane">	
				<p><a href="/add-work">Want to add a work?</a></p>
				<pre>
<%=record%>
				</pre>				
			</div>						
		<div>			
		<div class="wizard-btn-container">
			<a class="wizard-nav-btn wizard-previous-button disabled-button" href="#">Back</a>
            <a class="wizard-nav-btn wizard-next-button disabled-button" href="#">Next</a>
		</div>		
	</div>
</head>
</html>