<!doctype html>
<html>
<head>
	<title>ORCID Walkthrough - Token info</title>
	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
	<link rel="stylesheet" href="gulp_derived/css/style.css"> 
</head>
<body>
	<div id="wizard">
		<div class="steps-pane-container">
			<div class="logo">
				<img src="img/orcid-logo.png" alt="">
			</div>
			<ul>
				<li class="step">Introduction</li>
				<li class="step">Accessing the API</li>
				<li class="step">Using the API</li>
				<li class="step current-step">Get authorization code</li>
				<li class="step">Get token</li>
				<li class="step">Show token</li>
				<li class="step">Read record</li>
				<li class="step">Update record</li>				
			</ul>
		</div>
		<div class="contents-pane-container">
			<div class="contents-pane">	
				<pre>
<%=record%>
				</pre>
			</div>
			<p><a href="/add-work">Want to add a work?</a></p>
		<div>	
		<div class="wizard-btn-container">
			<a class="wizard-nav-btn wizard-previous-button disabled-button" href="#">Back</a>
            <a class="wizard-nav-btn wizard-next-button disabled-button" href="#">Next</a>
		</div>		
	</div>
</head>
</html>