<html>
<head>
	<title>Record for <%= orcid %></title>
	<link rel="stylesheet" href="gulp_derived/css/style.css">
</head>
<body>
	<p>Record:</p>
	<div>
		<pre>
<%=record%>
		</pre>
	</div>
</head>
</html>